h1 {
    color:purple;
  }

body{
background-image: url(background.jpg);
}
#content{
    color:red;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color:pink;
}
